body
    {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Logotipo_del_Cuerpo_Nacional_de_Polic%C3%ADa_de_Espa%C3%B1a.svg/173px-Logotipo_del_Cuerpo_Nacional_de_Polic%C3%ADa_de_Espa%C3%B1a.svg.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
h1{
    font-size: 40px;
    color: #3c4870;
    background-color: #ffffff;
    text-align: center;
}
div{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;   
}
a{
    font-size: 16px;
    text-align: center;
}

